body {
    background-color: rgb(255, 255, 255);
    font-family: 'Handlee', cursive;
    font-weight: 900;
    letter-spacing: 3px;    
}
* {
    box-sizing: border-box;
    font-weight: 900;
    letter-spacing: 3px;
}



.container2 {
    width: 80vw;
    margin: auto;
    text-align: center;
    background-color: rgb(5, 7, 19);
}

p {
    font-size: 40px;
}

#msg,#err,#acc {
    font-size: 30px;
}

#but {
    display: none;
    font-size: 30px;
    border-radius: 20px;
    color: white;
    background-color: rgb(195, 5, 212);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid white;
}

.red {
    color: red;
    
}

.green {
    color: green;
}
#time , .min , #p , .size{
    font-size: x-large;
}
.black{
    color: rgb(243, 239, 255);
}
.img{
    background-image: url('1.jpg'); 
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(19, 17, 17, 0.767);
}
.box{
    box-shadow: 3px 30px 30px rgb(0, 0, 0)
}
.msgbox{
    background-color: rgba(19, 17, 17, 0.767);
    color: yellow;
}